.overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, .55), transparent 70%);
    mix-blend-mode: screen;
}
